.question-container {
  width: 100%;
  min-height: 52px;
  padding-left: 1px;
  padding-right: 16px;
  padding-top: 18px;
  padding-bottom: 18px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.question {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0px;
  color: rgba(75, 76, 95, 1);
}

.question-selected {
  font-weight: 700;
  font-size: 14px;
  color: rgba(30, 31, 54, 1);
}

.question:hover {
  color: rgba(244, 123, 86, 1);
}

.answer {
  color: rgba(120, 120, 135, 1);
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  display: flex;
  overflow: hidden;
  height: 0px;
}

.question-arrow {
  display: flex;
  justify-content: space-between;
}

.answer-shown {
  height: auto;
}

.arrow {
  transform: rotate(0deg);
}

.arrow-flipped {
  transform: rotate(180deg);
}
