.question-container {
  width: 100%;
  height: 52px;
  padding: 1, 16, 18, 18;
}

.question {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0px;
  color: rgba(75, 76, 95, 1);
}

.question:hover {
  font-weight: 700;
  font-size: 14px;
  color: rgba(30, 31, 54, 1);
}

.answer {
  color: rgba(120, 120, 135, 1);
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
}
