.big-image {
  margin-top: 70px;
  width: 100%;
  max-width: 472px;
  height: 370px;
  object-fit: cover;
  position: relative;
  z-index: 2;
}

.box-image {
  position: absolute;
  left: -120px;
  top: 220px;
  width: 250px;
  z-index: 5;

  object-fit: cover;
  display: block;
}
.image-container {
  position: relative;
}

.shadow {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 50%;
  bottom: 0px;
  z-index: 1;
  overflow: hidden;
  object-fit: cover;
}

.upper-shadow,
.second-upper-shadow {
  position: absolute;
  object-fit: cover;
  width: 100%;
  z-index: 1;
}

.mobile-shadow {
  position: absolute;
  bottom: -33px;
  left: 0px;
  display: none;
}

.mobile-big-image {
  display: none;
}

@media only screen and (max-width: 930px) {
  .upper-shadow,
  .second-upper-shadow,
  .shadow,
  .big-image,
  .box-image {
    display: none;
  }

  .image-container {
    max-width: 240px;
    top: -110px;
  }

  .mobile-shadow,
  .mobile-big-image {
    display: block;
  }
}
