.heading {
  color: rgba(30, 31, 54, 1);
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0px;
}

.faq-container {
  padding-top: 64px;
  width: 100%;
  max-width: 350px;
  gap: 45px;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
