.box {
  background-color: white;
  max-width: 920px;
  width: 100%;
  height: 509px;
  border-radius: 23px;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.5);
  display: flex;
  justify-content: space-between;
  padding-right: 95px;
}
