.box {
  background-color: white;
  max-width: 920px;
  width: 100%;
  height: auto;
  border-radius: 23px;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.5);
  display: flex;
  justify-content: space-between;
  padding-right: clamp(20px, 4.5vw, 90px);
}

@media only screen and (max-width: 930px) {
  .box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 48px;
    height: auto;
  }
}
